.masonry-gallery
{
	column-gap: 8px;
	-moz-column-gap: 8px;
	margin: 1em 0;
	padding: 0;
}

.masonry-gallery .masonry-gallery-item
{
	display: inline-block;
	margin: 0 0 8px 0;
	padding: 0;
	width: 100%;
	max-width: 100%;
}

.masonry-gallery a
{
	display: block;
	text-align: center;
	padding: 0;
	margin: 0;
	border: none;
}

.masonry-gallery img
{
	padding: 0;
	margin: 0;
	vertical-align: bottom;
	border: none;
}
